<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
            name="google-signin-client_id"
            content="216494072492-cr7jbjlmip6fu8n7j4sm2f4l7com7tu8.apps.googleusercontent.com"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/main.css">
</head>